/* 1. Displays > 1200px */
@media (min-width: 1200px) {
  .container {
    height: 100vh;
    // width: auto;
    // background-color: #e45656;
    display: grid;
    grid-template-columns: 350px 1fr;
    // grid-template-rows: 15% 75% 10%;
    grid-template-rows: 15% 75% 10%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .lateralInfo {
      grid-area: 1 / 1 / 4 / 2;
      // background-color: aquamarine;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .arrow_hide {
        padding-bottom: 50px;
        visibility: hidden;
        display: none;
        background-color: aqua;
      }
    }

    .topMenu {
      grid-area: 1 / 2 / 2 / 3;
      // background-color: blue;
      height: 15vh;

      .container_top_menu {
        width: 100%;
      }
    }

    .content {
      grid-area: 2 / 2 / 3 / 3;
      // background-color: burlywood;
      height: 75vh;
      padding: 0 10px;
      // width: auto;
    }

    .bottomMenu {
      grid-area: 3 / 2 / 4 / 3;
      // background-color: brown;
      height: 10vh;

      .container_bottom_menu {
        display: none;
      }

      .container_bottom_info {
        display: block;
      }
    }
  }
}

/* 2. Displays between 900px and 1199px */
@media (min-width: 900px) and (max-width: 1199px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 90% 10%;

    .lateralInfo {
      grid-area: 1 / 1 / 3 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .arrow_hide {
        display: none;
      }
    }

    .topMenu {
      display: none;

      .container_top_menu {
        display: none;
      }
    }

    .content {
      grid-area: 1 / 2 / 2 / 3;
      // background-color: burlywood;
      height: 80vh;
      padding: 10px;
      // width: auto;
    }

    .bottomMenu {
      grid-area: 2 / 2 / 3 / 3;
      // grid-area: 2 / 2 / 3 / 3;
      // background-color: brown;
      height: 10vh;

      .container_bottom_menu {
        display: block;
      }

      .container_bottom_info {
        display: none;
      }
    }
  }
}

/* 3. Displays between 650px and 899px */
@media (min-width: 650px) and (max-width: 899px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 90% 10%;

    .lateralInfo {
      grid-area: 1 / 1 / 3 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .arrow_hide {
        display: none;
      }
    }

    .topMenu {
      display: none;

      .container_top_menu {
        display: none;
      }
    }

    .content {
      grid-area: 1 / 2 / 2 / 3;
      // background-color: burlywood;
      height: 80vh;
      padding: 10px;

      // width: auto;
      .header_content {

        // background-color: aqua;
        .main {

          // background-color: blue;
          .title_resume {
            // background-color: brown;
            font-size: 40px;
          }
        }

        .contact {
          .container_contact {
            .form {
              // background-color: aqua;
              display: flex;
              flex-direction: column;

              .form_card1 {
                width: 100%;
              }

              .form_card2 {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .bottomMenu {
      grid-area: 2 / 2 / 3 / 3;
      // grid-area: 2 / 2 / 3 / 3;
      // background-color: brown;
      height: 10vh;

      .container_bottom_menu {
        display: block;
      }

      .container_bottom_info {
        display: none;
      }
    }
  }
}

/* 4. Displays between 400px and 649px */
@media (min-width: 400px) and (max-width: 649px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgb(246, 246, 66);

    .lateralInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .arrow_hide {
        display: block;
      }
    }

    .topMenu {
      display: none;

      .container_top_menu {
        display: none;
      }
    }

    .content {
      padding: 0 20px;
      .header_content {
        .main {
          .title_resume {
            margin-bottom: 20px;
          }

          .container_arrow_down {
            display: none;
          }
        }

        .footer{
          margin-bottom: 65px;
        }
      }
    }

    .bottomMenu {
      background-color: #161616;
      // background-color: blueviolet;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      z-index: 1;
      display: block;
    }
  }
}

/* Displays < 400px */
@media (max-width: 399px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgb(246, 246, 66);

    .lateralInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .arrow_hide {
        display: block;
      }
    }

    .topMenu {
      display: none;

      .container_top_menu {
        display: none;
      }
    }

    .content {
      .header_content {
        .main {
          .title_resume {
            margin-bottom: 20px;
          }

          .container_arrow_down {
            display: none;
          }
        }

        .footer{
          margin-bottom: 65px;
        }
      }
    }

    .bottomMenu {
      background-color: #161616;
      // background-color: blueviolet;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      z-index: 1;
      display: block;
    }
  }
}