.container_nav_menu{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: aqua;

  .nav_icon_bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
    color: #e9e9f1;
    text-decoration: none;
    background-color: transparent;
    border-style: none;
    // background-color: aqua;

    .icon_menu_bottom{
      font-size: 18px;
      color: #e9e9f1;
      // background-color: blue;
      // height: 20px;
    }

    .style_menu_hamburger{
      font-size: 35px;
    }
  }

  .conatiner_menu_buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: aquamarine;

    .checkbox_state{
      display: none;
    }
  }

  
}